#flowers_section {
  background: #fff;
  
}
#flowers_inner {
  margin: 0% 10%;
}
#flowers_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.flower {
  padding: 4px;
  margin: 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.80em;
  text-align: right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 200px; 
  opacity: 0;
  /* visibility: hidden; */
  transition: all 0.8s ease-in-out;
}

.flower_visible {
  /* visibility: visible !important; */
  opacity: 1 !important;
}

.flower_type {
  cursor: pointer;
  color: black;
  /* border-bottom: 0.5px;  */
}
.flower_type:hover {
  color: palevioletred;
}

.flower_season {
  cursor: pointer;
  color: black;
}
.flower_season:hover {
  color: palevioletred;
}

#flowers_filter {
  text-align: center;
  border: 2px solid red;
  justify-content: left;
  margin-top: 30px;
  box-shadow: 
		0px 0px 0px 1px #aaa, 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
    0px 1px 2px rgba(0,0,0,0.2);
  
}
.filter_attr{
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

#flower_title {
  text-align: center;
}


#flower_body {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.flower_icon_cont {
  top: 0px;
  left: 0px;
  background: url('/img/idicon.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  position: absolute;
  width: 30px;
  height: 30px;
}

