#news_section {
  padding: 20px 0px 20px 0px;
  background-color: #f0f0f0;
}

#filter {
  margin: 1% 5% 1% 5%;
  width: 7%;
  position: relative;
  float: right;
}

#newsnevents {
  width: 100%;
  font-size: 18px;
}

#newsnevents tr {
  width: 100%;
}

#newsnevents th, #newsnevents td {
  text-align: left;
}

#tablescroll {
  overflow-y: auto;
  width: 100%;
}

#post {
 margin: 0px auto 30px auto;
 padding: 20px 40px 20px 40px;
 border-style: solid;
 border-width: 0px 0px 0px 10px;
 border-color: #232323;
 color: #232323;
}

.post-date, .post-author { 
  color: #7F7E7E;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

a {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

a:hover
{
  box-shadow: inset 0 0 0 25px #53a7ea;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-height: 400px) {

  #news_section {
    height: 400px;
  }

  #filter {
    width: 28%;
  }

  #newsnevents {
    font-size: 15px;
  }

  #tablescroll {
    height: 300px;
  }

  #post {
   max-width: 300px;
  }

  .post-title {
    font-size: 18px;
  }

  .post-date, .post-author {
    font-size: 11px;    
  }

  .content {
    max-height: 4.5em;
    font-size: 13px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-height: 400px) {

  #news_section {
    height: 300px;
  }

  #filter {
    width: 16%;
  }

  #newsnevents {
    font-size: 15px;
  }

  #tablescroll {
    height: 200px;
  }

  #post {
   max-width: 500px;
  }

  .post-title {
    font-size: 18px;
  }

  .post-date, .post-author {
    font-size: 11px;    
  }

  .content {
    max-height: 4.5em;
    font-size: 13px;
  }
} 

/* Small devices (landscape mode) */
@media only screen and (min-width: 600px){

  #news_section {
    height: 300px;
  }

  #filter {
    width: 16%;
  }

  #newsnevents {
    font-size: 15px;
  }

  #tablescroll {
    height: 200px;
  }

  #post {
   max-width: 500px;
  }

  .post-title {
    font-size: 18px;
  }

  .post-date, .post-author {
    font-size: 11px;    
  }

  .content {
    max-height: 3em;
    font-size: 13px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  #news_section {
    height: 400px;
  }

  #filter {
    width: 13%;
  }

  #newsnevents {
    font-size: 15px;
  }

  #tablescroll {
    height: 300px;
  }

  #post {
   max-width: 500px;
  }

  .post-title {
    font-size: 20px;
  }

  .post-date, .post-author {
    font-size: 13px;    
  }

  .content {
    max-height: 3em;
    font-size: 15px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  #news_section {
    height: 400px;
  }

  #filter {
    width: 13%;
  }

  #newsnevents {
    font-size: 15px;
  }

  #tablescroll {
    height: 300px;
  }

  #post {
   max-width: 800px;
  }

  .post-title {
    font-size: 25px;
  }

  .post-date, .post-author {
    font-size: 18px;    
  }

  .content {
    max-height: 3em;
    font-size: 20px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  #news_section {
    height: 500px;
  }

  #filter {
    width: 13%;
  }

  #newsnevents {
    font-size: 15px;
  }

  #tablescroll {
    height: 300px;
  }

  #post {
   max-width: 1000px;
  }

  .post-title {
    font-size: 25px;
  }

  .post-date, .post-author {
    font-size: 17px;    
  }

  .content {
    max-height: 3em;
    font-size: 17px;
  }
}
