#map {
    text-align: center;
  }
  
  map, iframe {
    width:50%;
    height:300px;
  }

  
  h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    font-family: Courier;
  }

  /*
  @media screen and (max-width: 767px) {
    h1 {
      margin-bottom: 0;
    }
  }*/
  
  .wrapper {
    max-width: 900px;
    margin: auto;
    text-align:center; 
    font-family: Courier;
  }
  /*
  @media screen and (max-width: 899px) {
    .wrapper {
      padding: 0 20px;
    }
  }*/
  
  .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .container__item {
    text-decoration: none;
    background-color: #ffffff;
    width: calc((100% - 90px)/3);
    margin: 0 30px 30px 0;
    box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4);
    border: 1px solid #fcf7fd;
    border-radius: 6px;
    box-sizing: border-box;
    min-width: 200px;
  }
  
  .container__item:hover {
    box-shadow: 5px 5px 2px #eeeff1;
    text-decoration: none;
    /*somethng was interferring with the responsive cars to be underlined.. This will hlep to remove it, #PUBG 2:00pm 8/3/2019 https://www.freecodecamp.org/forum/t/link-underlining-wont-go-away/144657/2 */
  }

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-height: 400px){
  .container__item {
    width: 100%;
    margin: 20px auto 0;
    max-width: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-height: 400px) {

}

/* Small devices (landscape mode) */
@media only screen and (min-width: 600px){

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

  /*
  @media screen and (max-width: 899px) {
    .container__item {
      width: calc((100% - 60px)/3);
    }
  }
  @media screen and (max-width: 767px) {
    .container__item {
      width: 100%;
      margin: 30px auto 0;
      max-width: 300px;
    }
  }
  @media screen and (max-width: 899px) {
    .container__item:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .container__item:nth-child(3n) {
      margin: 30px auto 0;
    }
  }
  .container__item:nth-child(4n) {
    margin-right: 0;
  }
  @media screen and (max-width: 899px) {
    .container__item:nth-child(4n) {
      margin-right: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    .container__item:nth-child(4n) {
      margin: 30px auto 0;
    }
  }
  */


  
  .container__item--categorygreen {
    padding: 10px;
    background-color: #32612A;
    color: #ffffff;
    border-radius: 6px 6px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  .container__item--categoryred {
    padding: 10px;
    background-color: #DD052C;
    color: #ffffff;
    border-radius: 6px 6px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  .container__item--img {
    text-align: center;
    padding: 20px 20px 0px;
    font-size: 76px;
  }
  .container__item--greenDos_icon {
    color: #32612A;
  }
  .container__item--redDonts_icon {
    color: #DD052C;
  }

  /*
.container__item--desc {
  padding: 20px;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  color: #4b384c;
}*/
