
#walkthrough_section {
    background:#f0f0f0;
}
#walkthrough_map {
  max-width: 640px;    
  position: relative;
}

#walkthrough_filter {    
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;  
  flex-wrap: wrap;  
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#walkthrough_filter_anchor {
  display: flex;  
  flex-wrap: wrap;  
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.walkthrough_flower {
  width: 140px;  
  padding: 8px 12px;
  font-size: 0.82em;
  display: flex;
  justify-content: left;
  align-items: center;  
  cursor: pointer;
}
.walkthrough_filter_img {
  margin-right: 6px;
  visibility: hidden;
}

.walkthrough_filter_selected > .walkthrough_filter_img {
  visibility: visible !important;
}

.walkthrough_filter_toggle {
  position: relative;
}